<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehave" name="SOAPService.ShopService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="/shops" binding="basicHttpBinding" contract="SOAPService.IShopService" />
        <endpoint address="" binding="wsHttpBinding" contract="SOAPService.IShopService" />
        <endpoint address="/test" binding="wsHttpBinding" contract="SOAPService.IShopService" />
        <endpoint address="/hello/servicemodelsamples" binding="wsHttpBinding"
          contract="SOAPService.IShopService" />
        
        <endpoint address="rest" behaviorConfiguration="enableScriptBehaviour"
          binding="webHttpBinding" bindingConfiguration="crossDomain"
          contract="SOAPService.IShopService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceModelSamples/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="enableScriptBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehave">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Basic" />
        <behavior name="WebJson">
          <webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" />
        </behavior>
        <behavior name="WebXML">
          <webHttp defaultOutgoingResponseFormat="Xml" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="524288000"
                 maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebJson" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
        <binding name="WebXML" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="SOAPService.ShopService">
        <!-- конечная точка SOAP -->
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="SOAPService.IShopService" />

        <!-- конечная точка REST (формат Json) -->
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="SOAPService.IShopService" />

        <!-- конечная точка REST (формат XML) -->
        <endpoint address="xml" binding="webHttpBinding" behaviorConfiguration="WebXML"
                  bindingConfiguration="WebXML" name="WebXML" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="SOAPService.IShopService" />
      </service>
      <service name="SOAPService.ProductService">
        <!-- конечная точка SOAP -->
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="SOAPService.IProductService" />

        <!-- конечная точка REST (формат Json) -->
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="SOAPService.IProductService" />

        <!-- конечная точка REST (формат XML) -->
        <endpoint address="xml" binding="webHttpBinding" behaviorConfiguration="WebXML"
                  bindingConfiguration="WebXML" name="WebXML" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="SOAPService.IProductService" />
      </service>
    </services>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With, Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE,     OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
